<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>URL API | Stefansen</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>API URL Shortener</h1>
    <form action="/api/shorturl/new" method="post">
      <label>
        URL to be shortened
      </label>
      <input name="URL" type="text" placeholder="Enter URL here">
      <button type="submit">Submit</button>
    </form>
    <footer>
      <a href="https://bstefansen.github.io/Portfolio/" target="_blank">
        by Blake Stefansen
      </a>
    </footer>
  </body>
</html>
